<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"> 
  <a class="navbar-brand" href="#"><i class="fa fa-github" style="font-size:36px"></i></a>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search or jump to" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">/</button>
        </form>
        <div class="collapse navbar-collapse" >
        <ul class="navbar-nav ">
        <a href="#"><li class="nav-item active">Pull requests</li></a>
        <a href="#"><li class="nav-item ">Issues</li></a>
        <a href="#"><li class="nav-item ">Marketplace</li></a>
        <a href="#"><li class="nav-item ">Explore</li></a>
        </ul>
        </div>
        <div>
        <ul >
        <li><i class="fa fa-bell" aria-hidden="true"></i></li>
        <li><i class="fa fa-plus" aria-hidden="true"></i></li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">New repository</a>
        <a class="dropdown-item" href="#">Import repository</a>
        <a class="dropdown-item" href="#">New Git</a>
        <a class="dropdown-item" href="#">New Ornanization</a>
        <a class="dropdown-item" href="#">New Project</a>
        </div>
        </li>
        <li> <img src="../assets/repo.png" alt="..."></li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Sign in as<br>kumar</a>
        <div class="dropdown-divider"></div>
        
        <a class="dropdown-item" href="#"><button type="button" class="btn btn-light"><i class="fa fa-smile-o" aria-hidden="true"></i>Update Status</button></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
        </ul>


<!----<app-component1></app-component1>-->
<router-outlet></router-outlet>